
.jumbotron {
  margin: 50px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
}

.sidebar {
  float: left;
  background-color: grey;
  padding: 20px;
}

.my-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: auto;
  border-radius: 50%;
  border: solid black 3px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-top: 20px;
}

#myCarousel img {
  height: 300px
  width: auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 400px;
}
