.jumbotron {
  margin: 50px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
}

.sidebar {
  float: left;
  background-color: grey;
  padding: 20px;
}

.my-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: auto;
  border-radius: 50%;
  border: solid black 3px;
  margin-bottom: 20px;
  float: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-top: 5px;
}

#site li {
  list-style-type: none;
  text-align: left;
}

.education {
  text-align: left;
}

#myCarousel {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#myCarousel img {
  height: 300px
  width: auto;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 400px;
}

.footer {
  margin-left: 250px;
  float:left;
  text-align: center;
}

.see-me {
  font-family: monospace;
}
